nav{
    /* z-index: 2; */
    background: #eeb01e;
    padding-left: 50px;
    padding-right: 50px000000000000000000000;
}
/* .collapse{
   display: flex;
   justify-content: space-between;
   padding:0 100px;
} */
.navbar-brand{
    font-weight: 500;
}
.logo{
    width: 150px;
    height: 30px;
}

/* #navbarTogglerDemo01{
    display: flex;
    
} */

