<div class="contact">
  <div class="contact-us">
    <h1>Contact Us</h1>
    <form (submit)="register($event)">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="John Doe" autofocus required>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="xyz@gmail.com" required>

      <label for="message">Message:</label>
      <textarea id="message" [(ngModel)]="message" name="message" placeholder="Hello!" required></textarea>

      <div class="submit">
        <button type="submit">Send</button>
      </div>
      
    </form>
  </div>

  <div class="connect">
    <h1>Connect With us</h1>
    <div class="contact-content">
      <h4> <u>Name</u> : Mrs. Anu Turan/ Dr. Sanjeev Kumar</h4>
      <h4><u>Contact</u> : 9888251254/9888751254</h4>
      <h4><u>Email</u> : ror.sanjeev&#64;gmail.com</h4>
      <!-- <h4>Address: </h4>  -->

      <h4 class="social-heading"><u>Redirect To</u>:</h4>
      <div class="social">
        
        <a href="/"><img src="../../assets/wpLogo.jpeg" alt=""></a>
        <a href="/"><img src="../../assets/gmail.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
