<div class="contact">
  <div>
    <h1>Contact Us</h1>
<form>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="message">Message:</label>
  <textarea id="message" name="message" required></textarea>

  <button type="submit">Send</button>
</form>
  </div>
<div>
  <h1>Connect with us</h1>
  <div class="contact-content">
    <h4>Name:Mrs. Anu Turan/ Dr. Sanjeev Kumar</h4>
    <h4>Contact:9888251254/9888751254</h4>
    <h4>Email: ror.sanjeev&#64;gmail.com</h4>
    <h4>Address: </h4>
  </div>

</div>
</div>
<!-- <footer>
  <div class="container">
      <p>&copy; 2024 [Your Company Name]. All rights reserved.</p>
      
  </div>
</footer> -->
